body {background-color: #aed1e8}

p.titletext {color: black;
            font: 35px 黑体;}

p.text {color: black;
       font: 20px 楷体;
       font-weight: 500;}

p.textpython {color: white;
              font: 15px 黑体；}

div.centertext {border-radius: 30px;
                background-color: rgba(0,0,0,0.2);
                width: 60%;
                margin: auto;}

div.tablepython {background-color: rgba(79, 81, 84, 0.9);
                width: 90%;
                margin: auto;"}

div.table {border-radius: 25px;
        width: 90%;
        margin: auto;"}

div.under {height: 20px;}

#foot {padding: 60px;
       text-align: center;}

